@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>

		<CascadingValue Value="CascadingTitle" TValue="CascadingObject" Name="Object1">
			<CascadingValue Value="CascadingTitle2" TValue="CascadingObject" Name="Object2">
				<article class="content px-4">
					@Body
				</article>
			</CascadingValue>
		</CascadingValue>

	</main>
</div>

@code {
	private CascadingObject CascadingTitle = new CascadingObject { Title = "外層CascadingValue參數(從[CascadingParameter]取得)" };
	private CascadingObject CascadingTitle2 = new CascadingObject { Title = "內層CascadingValue參數(從[CascadingParameter]取得)" };
}
